<% include ../partials/header %>

<h1>SHOW</h1>
<h2>	<%=game.name  %> </h2>
<h2>	<%=game.date  %> </h2>
<h2>	<%=game.platform  %> </h2>
<h2>	<img src= "<%= game.photo %>" alt=""> </h2>
<h2>	<%=  %> </h2>

<% include ../partials/footer %>



